{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 style="text-align: center;">Registration Page</h3>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="from-group mt-2">
            <button class="btn btn-primary" type="submit">Send Mail</button>
        </div>
    </form>
</div>
{% endblock %}